@import url('https://fonts.cdnfonts.com/css/nuku-nuku');
body{
    font-family: Nuku Nuku;
    background-image: url(/assets/img/background1.jpeg);
}
#logo{
    max-width: 20%;
}
.barredenav{
    background-image: url(/assets/img/background4.jpg);
}
p{
    color: white;
    font-size: 26px;
}
.nav-link{
    color: white;
}
.navbar-nav{
    justify-content: space-evenly;
    font-size: 22px;
}
li{
    display: flex;
    justify-content: space-between;
}
.test{
    color: white !important;
}
/* ul#menu li {
    display: inline-block;
}
ul#menu{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}
div.card ul#menu li.list-group-item{
    font-size: 40px;
    vertical-align: center;
} */
footer{
    background-image: url(/assets/img/background4.jpg);
}
footer p{
    font-size: 38px;
}
footer li{
    font-size: 22px;
    text-align: center;
}
footer .container-fluid{
    display: flex;
    justify-content: space-evenly;
}